/*
#87CFC2
TABLE OF CONTENTS
1. universal styles
2. nav styles
3. index
4. alphabet
5. terms
6. videos
7. quiz
*/

/*----------------------------------------------1. universal styles-----------------------------------------------------*/
body {
    font-family: chalkboard, sans-serif; 
    margin: 0px;
}

.title {
    color:#000;
	margin-top:30px;
	font-size:50px;
	text-align:center;
	text-transform:uppercase;
}

.pagedescrip {
    color:#000;
	margin-top:30px;
    margin-left:18%;
	margin-right:18%;
	font-size:18px;
	text-align:center;
}

footer {
    background: #87CFC2;
    padding: 1.5%;
    text-align: center;
}


/*-----------------------------------------------2. nav styles---------------------------------------------------------*/


@media screen and (min-width: 850px) {
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #87CFC2;
    text-align: center;
    margin: 0;
    display:flex;
    justify-content:space-between;
    padding: 0 30px;
}

ul li {
    float: left;
    text-align: center;
    font-size: 25px
}

ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 25px 0px;
}

a:hover {
    color: #000;
}
 
/* hides hambuger buttons when large */    
.closebtn {
    visibility: hidden;
}

.threelines {
    visibility: hidden;
}
}

/*----------------------------------------------------2.2. hambuger nav---------------------------------------------------------*/

@media all and (max-width: 849px) and (min-width: 280px) {

ul {
    list-style-type: none;
}
    
.threelines {
    padding-left: 15px;
    color: #87CFC2;
}
    
#threelines: hover {
    color: #000;
    }
        
.sidenav {
    display: none;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #87CFC2;
    overflow-x: hidden;
    padding-top: 60px;
    list-style-type: none;
}

.sidenav a {
    padding: 8px 8px 8px 3px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #000;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 200px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
}




/*----------------------------------------------------3. index---------------------------------------------------------*/

.about{
    display: inline-block;
    margin:0 10%;
    margin-bottom: 30px;
    text-align:center;
    display: inline-block;
    margin:0 10%;
    margin-top: 110px; 
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
}

.box {
    background-color:#F2F2F2;
    padding: 20px 20px 0px 20px;
    font-size: 25px;
    width: 550px;
    
    text-align: center;
    display: inline-block;
}

.box2 {
    background-color:#F2F2F2;
    padding: 20px 20px 0px 20px;
    font-size: 25px;
    width: 550px;
    
    text-align: center;
    display: inline-block;
}

.description {
    width: 550px;
    margin: 5px;
    font-size: 20px;
    text-align: center;
}    

.index_title{
    font-weight: bold;
    text-transform: uppercase;
}







/*----------------------------------------------------4. alphabet and numbers------------------------------------------*/
/*---size of all pictures---*/
#a, #b, #c, #d, #e, #f, #g, #h, #i, #j, #k, #l, #m, #n, #o, #p, #q, #r, #s, #t, #u, #v, #w, #x, #y, #z, #zero, #one, #two, #three, #four, #five, #six, #seven, #eight, #nine
{
	width:300px;
	height:300px;
    background-size:cover;
    background-repeat:no-repeat;
    
}

/*--- picture in box---*/
#a {
	background-image:url("../media/a.jpg");
}
#b {
	background-image:url("../media/b.jpg");
}
#c {
	background-image:url("../media/c.jpg");
}
#d {
	background-image:url("../media/d.jpg");
}
#e {
	background-image:url("../media/e.jpg");
}
#f {
	background-image:url("../media/f.jpg");
}
#g {
	background-image:url("../media/g.jpg");
}
#h {
	background-image:url("../media/h.jpg");
}
#i {
	background-image:url("../media/i.jpg");
}
#j {
	background-image:url("../media/j.jpg");
}
#k {
	background-image:url("../media/k.jpg");
}
#l {
	background-image:url("../media/l.jpg");
}
#m {
	background-image:url("../media/m.jpg");
}
#n {
	background-image:url("../media/n.jpg");
}
#o {
	background-image:url("../media/o.jpg");
}
#p {
	background-image:url("../media/p.jpg");
}
#q {
	background-image:url("../media/q.jpg");
}
#r {
	background-image:url("../media/r.jpg");
}
#s {
	background-image:url("../media/s.jpg");
}
#t {
	background-image:url("../media/t.jpg");
}
#u {
	background-image:url("../media/u.jpg");
}
#v {
	background-image:url("../media/v.jpg");
}
#w {
	background-image:url("../media/w.jpg");
}
#x {
	background-image:url("../media/x.jpg");
}
#y {
	background-image:url("../media/y.jpg");
}
#z {
	background-image:url("../media/z.jpg");
}
#zero {
	background-image:url("../media/zero.jpg");
}
#one {
	background-image:url("../media/1.jpg");
}
#two {
	background-image:url("../media/2.jpg");
}
#three {
	background-image:url("../media/3.jpg");
}
#four {
	background-image:url("../media/4.jpg");
}
#five {
	background-image:url("../media/5.jpg");
}
#six {
	background-image:url("../media/6.jpg");
}
#seven {
	background-image:url("../media/7.jpg");
}
#eight {
	background-image:url("../media/8.jpg");
}
#nine {
	background-image:url("../media/9.jpg");
}




/*------------ blue animation ----------*/
.alphabet:hover {
    /*--
	box-shadow:inset 0 0 0 300px rgba(135,207,194,0.5);
    --*/
    box-shadow:inset 0 0 0 150px rgba(135,207,194,0.5);
    opacity: 30%
}

.number:hover {
    /*--
	box-shadow:inset 0 0 0 300px rgba(135,207,194,0.5);
    --*/
    box-shadow:inset 0 0 0 150px rgba(135,207,194,0.5);
    opacity: 30%
}


/*---------- letter pop up on hover----i have a feeling that this section is causing the weird hover effect with the alphabet --*/
.alphabetfade:hover .letter {
	opacity:3;                 
	transform:scale(3);                     
}

/*------------ box spacing------------*/
.alphabetfade {
	width:inherit;
	height:inherit;
	margin:auto;
	padding-top:110px;
	transition:all 0.1s ease-in-out;
}

/*--------- actual letter in box---------*/
.letter {
	text-align:center;
	font-size:50px;
	color:#ffffff;
	width:60%;
	padding:5px;
	margin:auto;
	transition:all 0.2s;
	opacity:0;
	transform:scale(1);
}

/*---several images in one line code---*/
.alphabet{
    display: inline-block;
    margin: 5px;
}

.alpha{
    margin:0 10%;
    text-align: center;
    margin-bottom: 30px;
}

#alphatitle{
    text-align: center;
    margin-top: 110px;
    font-size: 40px;
}

/*--------Numbers-----*/
.numbers{
    display: inline-block;
    margin:0 10%;
}

#numbstitle{
    text-align: center;
    margin-top: 150px;
    font-size: 40px;
}




/*---------- letter pop up on hover----i have a feeling that this section is causing the weird hover effect with the alphabet --*/
.numberfade:hover .numbers {
	opacity:3;                 
	transform:scale(3);                     
}

/*------------ box spacing------------*/
.numberfade {
	width:inherit;
	height:inherit;
	margin:auto;
	padding-top:110px;
	transition:all 0.1s ease-in-out;
}

/*--------- actual letter in box---------*/
.numbers {
	text-align:center;
	font-size:50px;
	color:#ffffff;
	width:60%;
	padding:5px;
	margin:auto;
	transition:all 0.2s;
	opacity:0;
	transform:scale(1);
}

/*---several images in one line code---*/
.number{
    display: inline-block;
    margin: 5px;
}


/*---several images in one line code---*/
.number{
    display: inline-block;
    margin: 5px;
}

.numbers1{
    margin:0 10%;
    text-align: center;
    margin-bottom: 30px;
}

#alphatitle{
    text-align: center;
    margin-top: 110px;
    font-size: 40px;
}


/*-------descrtiption of images-----*/
.ncaption{
    float: left;
    width: 300px;
    margin: 5px;
    font-size: 40px;
}

.numbsdescription{
    display: inline-block;
    width: 300px;
    text-align: center;
    margin: auto;
}


/*----------------------------------------------------5. terms----------------------------------------------------------*/
.terms{
    display: inline-block;
    margin:0 10%;
    margin-top: 110px; 
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
}

.termdescrip {
    color: #87CFC2;
    font-size: 25px;
    width: 300px;
    text-align: center;
    margin-top: -10px;
}

.caption{
    display: inline-block;
    width: 300px;
    margin: 5px;
}








/*----------------------------------------------------6. videos---------------------------------------------------------*/
iframe {
    width: 650px;
    height: 350px;
    margin-top:35px;
}

.videodescrip {
    width: 650px;
    margin:0px;
    color: #87CFC2;
    font-size: 30px;
}

.videos{
    display: inline-block;
    margin: 5px;
    text-align: center;
    margin-bottom: 30px;
}

.individeos{
    display: inline-block;
    margin: 30px;
}









/*----------------------------------------------------7. quiz page------------------------------------------------------*/

#quizes {
    display: inherit;
    text-align: center;
    align-content: center;
    margin:0 10%;
    margin-top: 80px;
    margin-bottom: 30px;
}

.quiztitle {
    /* box itself */
    border: 4px solid #87CFC2;
    font-family: "chalkboard";
    font-size: 30px;
    padding: 30px 30px 30px 30px;
    
}

/* ------ link button to quiz pagee ----- */
.quizlinks {
    text-decoration: none;
    color:black;
}


/* ---- hovered quiz button ---- */
.quizlinks :hover {
    color: #87CFC2;
}


/*----------------------------------------------------7.1. quiz1 page------------------------------------------------------*/

.qpicture {
    align-items: center;
    margin:0 10%;
    margin-bottom: 10px;
}

.qnumber {
    width: 500px;
    margin: auto;  
}

.choices {
    width: 500px;
    margin: auto;
    margin-bottom: 60px;
}

hr {
    border-style: solid;
    border-width: 6px;
    border-color: #87CFC2;
    align-items: center;
    margin:0 8%;
    margin-bottom: 10px;
}

/*  submit button  */

.submitb {
    width: 52.5px;
    margin: auto;
    margin-bottom: 30px
}


/*----------------------------------------------------7.2. quiz2 page------------------------------------------------------*/


/*----------------------------------------------------7.3. quiz3 page------------------------------------------------------*/


/*----------------------------------------------------8. contact page---------------------------------------------------*/


/*--------- circle ---------*/

#circle{
    margin: 50px 10%;
    text-align: center;
}

.team {
	width:215px;
	height:215px;
	border-radius: 20%;
    display: inline-block;
}

.name {
	margin:auto;
	font-size:22px;
	text-align:center;
	margin-top:230px;
}

/*--------- images and circle placement ---------*/
#natalia {
	background-image:url("../media/natalia.jpg");
	background-size:cover;
}

#crystal {
	background-image:url("../media/crystal.jpg");
	background-size:cover;
}

#elda {
	background-image:url("../media/elda.jpg");
	background-size:cover;
}

/*---------- YouTube Channel link ---------*/
.youtubechannel {
    text-align: center;
    font-size: 22px;
    margin-top: 50px;
    margin-bottom: 70px;
}

#icon{
    width: 50px;
    vertical-align: middle;
}











/*----------------------------------------------------Tablet Responsive---------------------------------------------------*/
/* Styles for some tablet devices */
@media only screen and (max-width: 1024px) {
    body {
        background-color: lightblue;
    }
    
    /* Index */
    .box{
        margin-bottom: 40px;
    }
    
    .box2{
        margin-bottom: 40px;
    }
    
    /* Alphabet */
   
    .alphabet:hover {
    box-shadow:inset 0 0 0 0
    }

    .letter {
	opacity:3;
    transform:scale(2);
	transition: none;
    margin-right: -30px;
    margin-top: 100px;
    }
    
    /* Number */
    
    .number:hover {
    box-shadow:inset 0 0 0 0
    }

    .numbers{
	opacity:3;
    transform:scale(2);
	transition: none;
    margin-right: -190px;
    margin-top: 100px;
    }
    
    /* Terms */
    .termdescrip{
    margin-top: -10px; 
    }
    
    /* Videos */
    .videodescrip{
    margin-top: 0px;
    }
    
}
    
    
/*-----------Quiz------------*/

#title {
    font-family: "shree devanagari 714", sans-serif;
    color: white;
    margin-top: 6%;
}

#subjects {
    font-family: "shree devanagari 714", sans-serif;
    color: white;
    font-size: 1em;
    text-align: center;
}

div#test{ 
    border:#000 9px double; 
    padding:10px 40px 40px 40px;
    font-size: 20px;
    font-family:"shree devanagari 714", sans-serif;
    text-align: left;
    background: white;
   
    width: 800px;
    margin: 20px auto;
    box-sizing: border-box;
    box-sizing: border-box;
    box-sizing: border-box;
}



#test_status{
    font-size: 1.2em;
    margin-top: 5%;
    font-family:"shree devanagari 714", sans-serif;
    margin-left: 25%; 
    font-weight: bolder;
}




